
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>


    <h1 class="headText" style="margin-left:300px;">Order List</h1>
    <div>
        <table class="table table-sty ">
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Product Name</th>
               
                <th>Image</th>


            </tr>

            @foreach (var od in ViewBag.orders)
            {
        <tr>
            <td>@od.orderId</td>
            <td>@od.customerName</td>
            <td>@od.productName</td>
            <td>@od.quantity</td>
            <td>
                <input type="button"
                       value="Delete"
                       onclick="location.href= '@Url.Action("removeOrder", "AdminOrder", new { OrderId = @od.orderId })' " />
            </td>


        </tr>
             }

        </table>
    </div>
</body>
</html>
