
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
    <style>
        .headTextt {
            font-size: 3rem;
            font-weight: bold;
            margin-left: 150px;
            margin-top: 80px;
            color: #febe19;
        }

        .table-sty {
            width: 70%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>


    <h1 class="headTextt" style="margin-left:300px;">Order List</h1>
    <div>
        <table class="table table-sty ">
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Product Name</th>
               
                <th>Image</th>


            </tr>

            @foreach (var od in ViewBag.orders)
            {
        <tr>
            <td>@od.orderId</td>
            <td>@od.customerName</td>
            <td>@od.productName</td>
            <td>@od.quantity</td>
            <td>
                <input type="button"
                       value="Delete"
                       onclick="location.href= '@Url.Action("DeleteOrder", "AdminOrder", new { OrderId = @od.orderId })' " />
            </td>


        </tr>
             }

        </table>
    </div>
</body>
</html>
