@model OnlinePrintingService.ViewModel.OrdersViewModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="../StyleSheets/Orders.css" rel="stylesheet" type="text/css" />
    <title>Make Orders</title>
</head>

<body>


    <div class="order__container" style="
              right: 0;
              left: 0;
              margin-right: auto;
              margin-left: auto;
              overflow: hidden;
              display: flex;
              margin-top: 150px;
              margin-bottom: 210px;
              align-items: center;
              justify-content: center;
              width: 750px;
              height: 550px;
              border-radius: 1rem;
              box-shadow: 0px 2px 6px rgba(0,0,0,.25);
          ">
        <div class="container__child signup__thumbnail">

            <img ID="Image1" runat="server" src="~/Images/order.jpg" />

        </div>

        <div class="signup-form container__child" style=" width: 18rem;">
            <div class="card-body">

                <div>
                    <h1 style="margin-bottom:20px; margin-top:-50px; font-weight:bolder">Order Now</h1>


                    @using (Html.BeginForm("Login", "AppUser", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row textInput">
                            <div class="form-group">

                                @Html.DropDownList("ProductName", ViewBag.ProductName as List<SelectListItem>, "Select Product Name", new { @class = "form-control" })
                                @Html.ValidationMessageFor(va => va.ProductName)

                            </div>
                        </div>
                        <div class="form-row textInput">
                            <div class="form-group" style="margin-top:20px">

                                @Html.DropDownList("ProductSize", ViewBag.ProductSize as List<SelectListItem>, "Select Product Size", new { @class = "form-control" })
                                @Html.ValidationMessageFor(va => va.ProductSize)

                            </div>
                        </div>
                        <div class="form-row textInput">
                            <div class="form-group" style="margin-top:20px">

                                @Html.TextBoxFor(va => va.Quantity, new { placeholder = "Quantity", @class = "form-control" })
                                @Html.ValidationMessageFor(va => va.Quantity)

                            </div>
                        </div>
                        <div class="form-row textInput">
                            <div class="form-group" style="margin-top:20px">

                                @Html.TextBoxFor(va => va.OrderImage, new { type = "file", placeholder = "Upload Image", @class = "form-control" })
                                @Html.ValidationMessageFor(va => va.Quantity)

                            </div>
                        </div>





                        @Html.ValidationSummary()
                        <div style="display:flex; ">
                            <button type="submit" class="btn btn-success" style="background-color: #febe19;color:black; font-weight:500;border:none">Order Now</button>

                        </div>

                    }








                </div>
            </div>
        </div>
    </div>


</body>